<?xml version="1.0"?>
<ruleset name="Really Simple Plugins">

    <!-- /Users/rlankhorst/.composer/vendor/bin/phpcs. -->
	<description>The PHP CodeSniffer rules used by Really Simple Plugins.</description>
	<!-- Exclude the Composer Vendor directory. -->
	<exclude-pattern>/vendor/*</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>

	<!-- Exclude minified CSS file. -->
	<exclude-pattern>*min.css</exclude-pattern>

	<rule ref="WordPress-Core">
        <exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />
	</rule>
        <exclude name="Universal.Arrays.DisallowShortArraySyntax.Found" />

	<!-- Do not follow WordPress class name naming requirements -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="strict_class_file_names" value="false" />
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="rsssl_"/>
		</properties>
	</rule>
		<rule ref="WordPress.WP.I18n">
    		<properties>
    			<property name="text_domain" type="array" value="really-simple-ssl" />
    		</properties>
    	</rule>

</ruleset>