<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Really Simple SSL tests">
            <directory>./tests</directory>
            <exclude>./wp-includes</exclude>
            <exclude>./wp-admin</exclude>
        </testsuite>
    </testsuites>
</phpunit>
