.rsssl-modal.rsssl-onboarding-modal {
  .rsssl-modal-body {

    .rsssl-override-detection-toggle {
      margin-bottom: -15px;
      float: right;
    }
    input[type=email] {
      width: 100%;
      margin-bottom: var(--rsp-spacing-m);
      border: 2px solid;
      height: 50px;
      border-color: var(--rsp-grey-300);
    }

    ul {
      column-count: 1;
      li {
        display: flex;
        align-items: flex-start;
        margin-bottom: var(--rsp-spacing-xxs);
        &.rsssl-is-plugin{
          background-color: var(--rsp-grey-100);
          border: none;
          margin: 10px 0;
          padding:5px 0;
          position:relative;
        }
        .rsssl-icon{
          margin-right:7px;
        }
      }
    }
  }
}