.rsssl-letsencrypt, .rsssl-le-activate_ssl {
  button {
    margin-top: 20px;
    margin-right:20px;
  }
  .rsssl-features, .rsssl-pro {
    ul {
      -moz-column-count: 2;
      column-count: 2;
      -moz-column-gap: 20px;
      column-gap: 20px;
      margin-bottom: 0;
    }
  }
  .rsssl-icon {
    margin-top: 2px;
  }

  .rsssl-override-detection-toggle input {
    margin-top: 2px;
  }

  .rsssl-modal-checkbox-container input {
    margin-top: 1px;
  }
}

.rsssl-lets-encrypt-tests {
  margin:var(--rsp-spacing-xs) var(--rsp-spacing-xl);
  .rsssl-progress-bar {
    padding-block: 0;
    margin-bottom:var(--rsp-spacing-m);
    .rsssl-progress {
      overflow: hidden;
      height: var(--rsp-spacing-m);
      border-radius: 5px;
      background-color: var(--rsp-grey-200);

      .rsssl-bar {
        height: 100%;
        background-color: var(--rsp-color-success);

        &.rsssl-orange {
          background-color: var(--rsp-color-warning);
        }
      }
    }
  }

  p {
    margin-bottom:var(--rsp-spacing-m);
  }

  .rsssl-progress-text {
    display: flex;
    align-items: center;
    @include rsssl-block-padding;
    padding-block: 0;
    padding-top: var(--rsp-spacing-xs);

    .rsssl-progress-percentage {
      font-size: 32px;
      font-weight: 700;
    }

    .rsssl-progress-text-span {
      margin-left: 35px;
      font-size: 18px;
      font-weight: 600;
      a {
        margin-left: 3px;
      }
    }
  }

  ul {
    li {
      display:flex;
      margin-bottom:15px;
      .rsssl-icon {
        margin-right:7px;
      }

      /*Nested li */
      ul li:before {
        background-color: var(--rsp-grey-500);
        color: #fff;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        content: '';
        position: absolute;
        margin-top: 7px;
        margin-left: -19px;
      }
    }
  }

  .rsssl-test-results {
    ul {
      li {
        display:block;
      }
    }
    h4 {
      margin:var(--rsp-spacing-m) 0;
    }
    a+button {
      margin-left:var(--rsp-spacing-m);
    }
    .rsssl-certificate-data {
      display:none;
    }
    .rsssl-dns-text-records {

      div {
        display:flex;
        flex-direction: row;
        margin-right:20px;
        .rsssl-dns-domain, .rsssl-dns-field {
          margin-right:var(--rsp-spacing-m);
          width: 50%;
        }
      }
    }
  }

  .rsssl-modal-subtitle {
    display:none;
  }
  .components-toggle-control {
    margin: 20px 0;
  }
}

