.rsssl-wizard-menu{
  height: fit-content;
  .rsssl-grid-item-content{
    padding: 0;
  }
}
.rsssl-wizard-menu-items {
  .rsssl-menu-item{
    a{
      display: block;
      text-decoration: none;
      color: var(--rsp-text-color);
      font-size: var(--rsp-fs-400);
      padding: var(--rsp-spacing-s) var(--rsp-spacing-l);
      transition: all 0.2s ease-in-out;
      width: 100%;
    }
    &.rsssl-featured{
      a{
        background: var(--rsp-dark-blue-faded);
      }
    }
  }
  .rsssl-submenu-item{
    a{
      padding-left: calc(var(--rsp-spacing-l) + var(--rsp-spacing-m));
      font-size: var(--rsp-fs-300);
    }
    .rsssl-menu-item:nth-of-type(2n -1) a{
      background-color: var(--rsp-grey-100);
    }
  }
}