.rsssl-wizard-menu{
  height: fit-content;
  .rsssl-grid-item-content{
    padding: 0;
    padding-bottom: var(--rsp-spacing-s);
  }
}
.rsssl-wizard-menu-items {
  .rsssl-menu-item{
    a{
      display: flex;
      align-items: center;
      gap: var(--rsp-spacing-xs);
      text-decoration: none;
      color: var(--rsp-text-color);
      font-size: var(--rsp-fs-400);
      padding: var(--rsp-spacing-xs) var(--rsp-spacing-l);
      transition: all 0.2s ease-in-out;
      width: 100%;
      svg{
        font-size: var(--rsp-fs-300);
        > *{
          fill: var(--rsp-grey-400);
        }
      }
    }
    &.rsssl-active{
      > a{
        text-decoration: underline;
        svg > path{
            fill: var(--rsp-yellow);
          }
      }
    }
    &.rsssl-featured{
      a{
        background: var(--rsp-dark-blue-faded);
      }
    }
  }
  .rsssl-submenu-item{
    a{
      padding-left: calc(var(--rsp-spacing-l) + var(--rsp-spacing-m));
      font-size: var(--rsp-fs-300);
    }
  }
}