.rsssl-high-contrast {
  /**
    Let's Encrypt
   */
}
.rsssl-high-contrast .rsssl-progress-status.rsssl-success,
.rsssl-high-contrast .rsssl-progress-status.rsssl-warning,
.rsssl-high-contrast .rsssl-progress-status.rsssl-premium,
.rsssl-high-contrast .rsssl-progress-status.rsssl-open {
  background-color: black !important;
  color: white;
}
.rsssl-high-contrast .rsssl-wizard-progress-bar-value {
  background: black !important;
}
.rsssl-high-contrast .rsssl-icon.rsssl-success {
  color: black !important;
}
.rsssl-high-contrast .rsssl-icon.rsssl-success svg {
  stroke: black !important;
  fill: black !important;
}
.rsssl-high-contrast .rsssl-help-warning-wrap .rsssl-notice {
  color: white !important;
}
.rsssl-high-contrast .rsssl-help-warning-wrap .rsssl-warning {
  background-color: black;
}
.rsssl-high-contrast .progress .bar {
  background-color: black !important;
}
.rsssl-high-contrast .rsssl-notice a {
  color: white !important;
}
.rsssl-high-contrast .rsssl.progress {
  background-color: black !important;
}
.rsssl-high-contrast .select2-results__option--highlighted[aria-selected] {
  background-color: black;
}
.rsssl-high-contrast .rsssl-save-settings-feedback {
  color: black !important;
}
.rsssl-high-contrast .nav-tab-active {
  border-bottom: 2px solid black !important;
}
.rsssl-high-contrast .rsssl-update-count {
  background-color: black !important;
}
.rsssl-high-contrast .paginate_button.current {
  background-color: black !important;
  color: white;
  border: 1px solid black;
}
.rsssl-high-contrast .rsssl-tasks {
  color: black !important;
}
.rsssl-high-contrast .rsssl-close-warning-x {
  color: black;
}
.rsssl-high-contrast .update-count {
  background-color: black;
}
.rsssl-high-contrast .rsssl-bullet:hover {
  background-color: black;
}
.rsssl-high-contrast .button-rsssl-primary,
.rsssl-high-contrast .button-primary,
.rsssl-high-contrast .button-secondary,
.rsssl-high-contrast .button-rsssl-secondary,
.rsssl-high-contrast .button-rsssl-tertiary,
.rsssl-high-contrast .revoke-from-csp,
.rsssl-high-contrast .button-default {
  background-color: black !important;
  border-color: black !important;
  color: white;
}
.rsssl-high-contrast .button:hover {
  color: white;
}
.rsssl-high-contrast input:checked + .rsssl-slider {
  background-color: black;
}
.rsssl-high-contrast .rsssl-help-modal,
.rsssl-high-contrast .rsssl-help-modal h2 {
  background-color: black !important;
  color: white !important;
}
.rsssl-high-contrast .rsssl-help-modal.rsssl-notice:after {
  border-right: 15px solid black;
}
.rsssl-high-contrast .rsssl-priority {
  border: 1px solid white !important;
}
/**move to css variables in time */
:root {
  --rsp-break-xs: 400px;
  --rsp-break-s: 576px;
  --rsp-break-m: 768px;
  --rsp-break-l: 992px;
  --rsp-break-xl: 1200px;
  --rsp-break-xxl: 1400px;
  --rsp-spacing-xs: 10px;
  --rsp-spacing-s: 15px;
  --rsp-spacing-m: 20px;
  --rsp-spacing-l: 30px;
  --rsp-spacing-xl: 40px;
  --rsp-grid-margin: var(--rsp-spacing-xs);
  --rsp-grid-gap: var(--rsp-spacing-m);
  --rsp-border-radius: 12px;
  --rsp-border: 1px solid var(--rsp-border-color);
  --rsp-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --rsp-border-color: #dfdfdf;
  --rsp-black: #333;
  --rsp-white: #fff;
  --rsp-yellow: #f4bf3e;
  --rsp-blue: #29b6f6;
  --rsp-dark-blue: #5A6FA5;
  --rsp-green: #2e8a37;
  --rsp-red: #D7263D;
  --rsp-pink: #E35899;
  --rsp-orange: #f39c12;
  --rsp-yellow-faded: rgba(244, 191, 62, 0.1);
  --rsp-blue-faded: rgba(41, 182, 246, 0.1);
  --rsp-dark-blue-faded: rgba(41, 182, 246, 0.1);
  --rsp-green-faded: rgba(46, 138, 55, 0.1);
  --rsp-red-faded: rgba(215, 38, 61, 0.1);
  --rsp-pink-faded: rgba(227, 88, 153, 0.1);
  --rsp-orange-faded: rgba(243, 156, 18, 0.1);
  --rsp-background-block-color: var(--rsp-white);
  --rsp-background-color: #f0f0f1;
  --rsp-input-background-color: #F1F1F1;
  --rsp-input-text-color: var(--rsp-text-color);
  --rsp-input-border-color: #8c8f94;
  --rsp-text-color: rgba(26, 26, 26, 0.9);
  --rsp-text-color-invert: rgba(255, 255, 255, 0.9);
  --rsp-text-color-white: rgba(255, 255, 255, 0.9);
  --rsp-text-color-light: rgba(69, 69, 82, 0.9);
  --rsp-grey-200: #fafafa;
  --rsp-grey-300: #ededed;
  --rsp-grey-400: #c6c6c6;
  --rsp-grey-500: #737373;
  --rsp-grey-600: #696969;
  --rsp-color-success: var(--rsp-green);
  --rsp-color-error: var(--rsp-red);
  --rsp-color-warning: var(--rsp-orange);
  --rsp-color-open: var(--rsp-yellow);
  --rsp-fs-100: 0.6125rem;
  --rsp-fs-200: 0.625rem;
  --rsp-fs-300: 0.8125rem;
  --rsp-fs-400: 0.875rem;
  --rsp-fs-500: 1rem;
  --rsp-fs-600: 1.125rem;
  --rsp-fs-700: 1.25rem;
  --rsp-fs-800: 1.5rem;
  --rsp-fs-900: 2.5rem;
  --rsp-brand-primary: var(--rsp-green);
  --rsp-brand-secondary: var(--rsp-yellow);
  --rsp-brand-primary-faded: var(--rsp-green-faded);
}
/*
  Progress labels
 */
.rsssl-progress-status {
  display: block;
  min-width: 60px;
  text-align: center;
  border-radius: 15px;
  padding: 4px 8px 4px 8px;
  font-size: 0.8em;
  font-weight: 600;
  height: 17px;
  line-height: 17px;
}
.rsssl-premium {
  background-color: #29b6f6;
  color: white;
}
.rsssl-success {
  background-color: #61ce70;
  color: white;
}
.rsssl-open {
  background-color: #FBC43D;
}
.rsssl-warning {
  background-color: #d7263d;
  color: white;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent,
.settings_page_really-simple-ssl #wpcontent {
  padding: 0;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .rsssl-footer-item form,
.settings_page_really-simple-ssl #wpcontent .rsssl-footer-item form {
  float: left;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab,
.settings_page_really-simple-ssl #wpcontent .nav-tab {
  padding: 16px 20px 17px 20px;
  margin-bottom: 0;
  color: #444;
  font-weight: normal;
  font-size: 1.2em;
  background: inherit;
  border: 0;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab.nav-tab-active,
.settings_page_really-simple-ssl #wpcontent .nav-tab.nav-tab-active {
  border-bottom: 2px solid #FBC43D;
  background: #fff;
  padding-bottom: 15px;
}
@media screen and (max-width: 800px) {
  .settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper,
  .settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper .nav-tab,
  .settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper .nav-tab {
    margin-left: 25px;
  }
  .settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper .documentation,
  .settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper .documentation {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper .nav-tab,
  .settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper .nav-tab {
    padding: 22px 3px 10px 3px;
  }
  .settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper .nav-tab-active,
  .settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper .nav-tab-active {
    padding-bottom: 10px;
  }
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .nav-tab-wrapper,
.settings_page_really-simple-ssl #wpcontent .nav-tab-wrapper {
  min-height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 0;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .rsssl-logo-container,
.settings_page_really-simple-ssl #wpcontent .rsssl-logo-container {
  margin-left: 25px;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .rsssl-logo-container #rsssl-logo,
.settings_page_really-simple-ssl #wpcontent .rsssl-logo-container #rsssl-logo {
  height: 40px;
  width: 200px;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .rsssl-logo-container #rsssl-logo img,
.settings_page_really-simple-ssl #wpcontent .rsssl-logo-container #rsssl-logo img {
  width: 200px;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .header-links,
.settings_page_really-simple-ssl #wpcontent .header-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .header-links .documentation,
.settings_page_really-simple-ssl #wpcontent .header-links .documentation {
  text-decoration: underline;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .header-links .header-upsell .documentation,
.settings_page_really-simple-ssl #wpcontent .header-links .header-upsell .documentation {
  margin-left: 25px;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .header-links .header-upsell a,
.settings_page_really-simple-ssl #wpcontent .header-links .header-upsell a {
  text-decoration: none;
}
.settings_page_rlrsssl_really_simple_ssl #wpcontent .header-links .header-upsell .header-upsell-pro,
.settings_page_really-simple-ssl #wpcontent .header-links .header-upsell .header-upsell-pro {
  color: black;
  border: 3px solid black;
  margin: 10px;
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-weight: 600;
}
.rsssl-grid {
  width: calc(100% - 20px);
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*
    Footers
   */
  /*
    Dots
   */
}
.rsssl-grid .rsssl-gridblock-progress-container {
  background-color: green;
}
.rsssl-grid .rsssl-gridblock-progress-container .rsssl-gridblock-progress {
  height: 3px;
  background-color: #cddc39;
}
.rsssl-grid .button-rsssl-tertiary {
  background-color: #D7263D;
  color: white;
  border: 0;
}
.rsssl-grid .rsssl-wide-button {
  width: 220px;
}
.rsssl-grid .rsssl-item {
  width: 800px;
  height: 485px;
  z-index: 1;
}
.rsssl-grid .rsssl-item.rsssl-small {
  width: 400px;
}
.rsssl-grid .rsssl-item .rsssl-close-warning-x {
  color: #ccc;
  margin-right: 25px;
  margin-top: 15px;
}
.rsssl-grid .rsssl-item .rsssl-item-container {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 5px 5px #dedede;
  width: 790px;
  height: 475px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table {
  display: flex;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 340px;
  width: 100% !important;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr {
  padding: 0 0 0 0 !important;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr td {
  padding: 0;
  margin: 0;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr th {
  margin-left: 0;
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: normal;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr th .dashicons-editor-help {
  font-size: 22px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr th .rsssl-tooltip-right {
  padding-right: 10px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr th,
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr td {
  padding: 6px 0 !important;
  font-size: 13px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr th p,
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr td p {
  font-size: 13px;
}
.rsssl-grid .rsssl-item .rsssl-item-container h2 {
  display: none;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-save-settings-feedback {
  margin-right: 20px;
  color: #d7263d;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #dedede;
  padding: 0 25px 0 25px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-header .rsssl-instructions a {
  color: #3c3c3c;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-table-td-main-content {
  padding-left: 15px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content {
  height: 360px;
  margin: 10px 25px 10px 25px;
  border-bottom: 1px solid #dedede;
  /*
          Tips and Tricks
       */
  /*
        Default bullet style
         */
  /*
        Support forum block
         */
  /*
            Other plugins
         */
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks {
  color: #3c3c3c;
  padding-bottom: 15px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks .tips-tricks-content {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  height: 340px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks .tips-tricks-content .tips-tricks-top {
  flex-grow: 1;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks .tips-tricks-content .tips-tricks-top .rsssl-tips-tricks-element {
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks .tips-tricks-content .tips-tricks-top .rsssl-tips-tricks-content {
  padding-right: 20px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-tips-tricks .rsssl-tips-tricks-read-more a {
  text-decoration: none;
  white-space: nowrap;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-bullet {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: lightgrey;
  text-decoration: none;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums {
  display: flex;
  width: 50%;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums a {
  text-decoration: none;
  color: #3c3c3c;
  display: flex;
  align-items: center;
  padding: 2px 0;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums .rsssl-bullet {
  margin: 7px 7px 7px 0;
  background-color: lightgrey;
  float: left;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums .rsssl-bullet:hover {
  background-color: #FBC43D;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums .rsssl-forums-content {
  float: left;
  color: #3c3c3c;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-support-forums-container .rsssl-support-forums .rsssl-forums-content:hover {
  text-decoration: underline;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content #rsssl-feedback {
  color: #d7263d;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell {
  display: flex !important;
  flex-direction: row;
  padding: 7px 0 7px 0;
  align-items: center;
  color: #3c3c3c;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .plugin-text a {
  text-decoration: none;
  color: #3c3c3c;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .plugin-text a:hover {
  color: #FBC43D;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .rsp-image {
  margin-right: 5px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .wpsi-red {
  background-color: #d7263d;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .cmplztc-black {
  background-color: #333;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .cmplz-blue {
  background-color: #27ADEA;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .zip-pink {
  background-color: #E366A1;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-content .rsssl-upsell .plugin-status {
  margin-left: auto;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-footer {
  display: flex;
  align-items: center;
  margin: 14px 25px 0 25px;
  height: 40px;
  bottom: 0;
  width: 95%;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-footer .rsssl-button-save {
  margin-right: 25px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-grid-item-footer #rsssl-feedback {
  font-weight: 600;
  color: #61ce70;
  padding-left: 10px;
}
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-deactivate-keep-ssl th,
.rsssl-grid .rsssl-item .rsssl-item-container .rsssl-deactivate-keep-ssl span {
  display: none;
}
.rsssl-grid .rsssl-item.half-height {
  height: 247.5px;
}
.rsssl-grid .rsssl-item.half-height .rsssl-item-container {
  height: 475px / 2;
}
.rsssl-grid .rsssl-item.half-height .rsssl-item-container .rsssl-grid-item-content {
  height: 110px;
}
.rsssl-grid .rsssl-item.half-height .rsssl-item-container .rsssl-grid-item-content .form-table tbody tr,
.rsssl-grid .rsssl-item.half-height .rsssl-item-container .rsssl-grid-item-content .form-table tbody th {
  width: 100%;
  max-width: 100%;
}
.rsssl-grid .rsssl-item.small .rsssl-item-container {
  width: 390px;
}
.rsssl-grid .rsssl-item.small .rsssl-item-container th {
  width: 90% !important;
}
.rsssl-grid .rsssl-item.small .rsssl-item-container .form-table tbody tr {
  width: 100%;
}
.rsssl-grid .rsssl-item.no-border .rsssl-item-container {
  border: none;
}
.rsssl-grid .rsssl-item.no-background .rsssl-item-container {
  background-color: #f2f2f2;
}
.rsssl-grid #rsssl-progress-footer,
.rsssl-grid #rsssl-premium-settings-footer {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}
.rsssl-grid #rsssl-progress-footer .rsssl-footer-item form,
.rsssl-grid #rsssl-premium-settings-footer .rsssl-footer-item form {
  float: left;
}
.rsssl-grid #rsssl-progress-footer .rsssl-footer-item + .rsssl-footer-item,
.rsssl-grid #rsssl-premium-settings-footer .rsssl-footer-item + .rsssl-footer-item {
  margin-left: 20px;
  padding: 4px 0;
}
.rsssl-grid #rsssl-progress-footer .footer-left,
.rsssl-grid #rsssl-premium-settings-footer .footer-left {
  float: left;
}
.rsssl-grid #rsssl-progress-footer .footer-left .upsell,
.rsssl-grid #rsssl-premium-settings-footer .footer-left .upsell {
  min-width: 80px;
  text-align: center;
}
.rsssl-grid #rsssl-progress-footer .footer-right,
.rsssl-grid #rsssl-premium-settings-footer .footer-right {
  float: right;
}
.rsssl-grid #rsssl-progress-footer .hidden,
.rsssl-grid #rsssl-premium-settings-footer .hidden {
  display: none;
}
.rsssl-grid .rsssl-system-status-footer-info {
  margin-right: 20px;
  width: 100%;
  text-align: right;
}
.rsssl-grid .rsssl-system-status-footer-info .system-status-info {
  margin-left: 6px;
}
.rsssl-grid .rsssl-dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  background-color: #61ce70;
}
.rsssl-grid .rsssl-dot.rsssl-dot-error {
  background-color: #d7263d;
}
.upsell-grid-container .rsssl-secondary-header-item img {
  height: 30px;
  padding-top: 5px;
}
.rsssl-grid {
  position: relative;
}
.rsssl-grid .rsssl-item {
  width: calc(100% - 20px);
  padding: 10px;
  height: 475px;
  min-height: 500px;
  z-index: 1;
}
@media only screen and (min-width: 400px) {
  .rsssl-grid .rsssl-item {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 600px) {
  .rsssl-grid .rsssl-item {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 768px) {
  .rsssl-grid .rsssl-item {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 992px) {
  .rsssl-grid .rsssl-item {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 1555px) {
  .rsssl-grid .rsssl-item {
    width: calc(50% - 20px);
  }
}
.rsssl-grid .rsssl-item.small {
  width: calc(100% - 20px);
}
@media only screen and (min-width: 400px) {
  .rsssl-grid .rsssl-item.small {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 600px) {
  .rsssl-grid .rsssl-item.small {
    width: calc(100% - 20px);
  }
}
@media only screen and (min-width: 768px) {
  .rsssl-grid .rsssl-item.small {
    width: calc(50% - 20px);
  }
}
@media only screen and (min-width: 992px) {
  .rsssl-grid .rsssl-item.small {
    width: calc(50% - 20px);
  }
}
@media only screen and (min-width: 1555px) {
  .rsssl-grid .rsssl-item.small {
    width: calc(25% - 20px);
  }
}
.rsssl-grid .rsssl-item.small .rsssl-item-container {
  width: 100%;
  min-width: 200px;
}
.rsssl-grid .rsssl-item.half-height {
  min-height: 250px;
}
@media only screen and (min-width: 400px) {
  .rsssl-grid .rsssl-item.half-height {
    height: 475px / 2;
    min-height: 250px;
  }
}
@media only screen and (min-width: 600px) {
  .rsssl-grid .rsssl-item.half-height {
    min-height: 250px;
    height: 475px / 2;
  }
}
@media only screen and (min-width: 768px) {
  .rsssl-grid .rsssl-item.half-height {
    min-height: 250px;
    height: 475px / 2;
  }
}
@media only screen and (min-width: 992px) {
  .rsssl-grid .rsssl-item.half-height {
    min-height: 250px;
    height: 475px / 2;
  }
}
@media only screen and (min-width: 1555px) {
  .rsssl-grid .rsssl-item.half-height {
    min-height: 250px;
    height: 475px / 2;
  }
}
.rsssl-grid .rsssl-item.half-height .rsssl-item-container {
  width: 100%;
  min-width: 200px;
  min-height: 250px;
}
.rsssl-grid .rsssl-item .settings.rsssl-item {
  width: 100%;
  padding: 0;
}
.rsssl-grid .rsssl-item.muuri-item-hidden {
  z-index: 0;
}
.rsssl-grid .rsssl-item.muuri-item-releasing {
  z-index: 2;
}
.rsssl-grid .rsssl-item.muuri-item-dragging {
  z-index: 3;
}
.rsssl-grid .rsssl-item .rsssl-grid-header {
  border-bottom: 1px solid lightgrey;
  padding: 0;
  height: 60px;
}
.rsssl-grid .rsssl-item .rsssl-grid-header .rsssl-grid-header-container {
  margin: 0 20px;
  height: 100%;
}
.rsssl-grid .rsssl-item .rsssl-grid-header .rsssl-grid-title {
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0;
  font-weight: bold;
  float: left;
}
.rsssl-grid .rsssl-item .rsssl-grid-header .rsssl-grid-controls {
  float: right;
  margin-top: 20px;
  color: #cecece;
}
.rsssl-grid .rsssl-item .rsssl-item-container {
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 5px 5px rgba(222, 222, 222, 0.2);
  height: 100%;
  width: 100%;
}
.rsssl-grid .rsssl-item .rsssl-item-container .item-content {
  clear: both;
  margin: 15px;
  height: calc(100% - 100px);
  padding-top: 0px;
  padding-bottom: 10px;
}
.rsssl-grid .rsssl-item.no-border .rsssl-item-container {
  border: none;
}
.rsssl-grid .rsssl-item.no-background .rsssl-item-container {
  background-color: #F1F1F1;
}
/*
  Progress labels
 */
.rsssl-progress-status {
  display: block;
  min-width: 60px;
  text-align: center;
  border-radius: 15px;
  padding: 4px 8px 4px 8px;
  font-size: 0.8em;
  font-weight: 600;
  height: 17px;
  line-height: 17px;
}
.rsssl-premium {
  background-color: #29b6f6;
  color: white;
}
.rsssl-success {
  background-color: #61ce70;
  color: white;
}
.rsssl-open {
  background-color: #FBC43D;
}
.rsssl-warning {
  background-color: #d7263d;
  color: white;
}
.rsssl-progress-block {
  padding-top: 10px;
}
.rsssl-progress-block .rsssl-progress {
  overflow: hidden;
  height: 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.rsssl-progress-block .rsssl-progress .rsssl-bar {
  height: 100%;
  background-color: #61ce70;
}
.rsssl-progress-block .rsssl-progress .rsssl-bar.rsssl-orange {
  background-color: #FBC43D;
}
.rsssl-progress-block .rsssl-progress-text {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rsssl-progress-block .rsssl-progress-text .rsssl-progress-percentage {
  font-size: 32px;
  font-weight: 700;
}
.rsssl-progress-block .rsssl-progress-text .rsssl-progress-text {
  margin-left: 35px;
  font-size: 18px;
  font-weight: 600;
}
.rsssl-progress-block .rsssl-progress-text .rsssl-progress-text a {
  margin-left: 3px;
}
.rsssl-header-html {
  display: flex;
  color: #3c3c3c;
}
.rsssl-header-html .rsssl-toggle-active {
  text-decoration: underline;
}
.rsssl-task-control-container {
  display: flex;
}
.rsssl-task-control-container label {
  margin: 0 5px;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
}
.rsssl-task-control-container.rsssl-active-filter-remaining .rsssl-remaining-tasks label {
  text-decoration: none;
  border-bottom: 0;
  color: initial;
}
.rsssl-task-control-container.rsssl-active-filter-all .rsssl-all-tasks label {
  text-decoration: none;
  border-bottom: 0;
  color: initial;
}
/**
* Task element, list of tasks
 */
.rsssl-task-element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--rsp-spacing-m);
  padding-bottom: var(--rsp-spacing-s);
}
.rsssl-task-element .rsssl-task-message {
  flex: 1;
}
.rsssl-task-element .rsssl-task-enable {
  cursor: pointer;
}
.rsssl-task-element .rsssl-task-dismiss button {
  all: initial;
}
.rsssl-task-element .rsssl-task-dismiss span {
  font-size: 1.5em;
  color: black;
  font-family: sans-serif;
}
.rsssl-task-element .rsssl-task-dismiss span:hover {
  cursor: pointer;
  color: grey;
}
.rsssl-task-element .rsssl-task-dismiss span svg {
  height: 12px;
  width: 12px;
}
.rsssl-scroll-container {
  height: 227px;
  overflow-y: auto;
  border-radius: 0;
}
.rsssl-scroll-container::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0);
  background-color: transparent;
}
.rsssl-scroll-container::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
  background-color: var(--rsp-grey-300);
  cursor: pointer;
}
.rsssl-scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--rsp-grey-400);
  border-radius: 10px;
}
.rsssl-spacer {
  width: 10px;
}
/* rsssl-rsssl-tooltip for settings page */
/* Base styles for the element that has a rsssl-tooltip */
[data-rsssl-tooltip],
.rsssl-tooltip {
  position: relative;
  cursor: pointer;
}
/* Base styles for the entire tooltip */
[data-rsssl-tooltip]:before,
[data-rsssl-tooltip]:after,
.rsssl-tooltip:before,
.rsssl-tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}
/* Show the entire rsssl-tooltip on hover and focus */
[data-rsssl-tooltip]:hover:before,
[data-rsssl-tooltip]:hover:after,
[data-rsssl-tooltip]:focus:before,
[data-rsssl-tooltip]:focus:after,
.rsssl-tooltip:hover:before,
.rsssl-tooltip:hover:after,
.rsssl-tooltip:focus:before,
.rsssl-tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Base styles for the rsssl-tooltip's directional arrow */
.rsssl-tooltip:before,
[data-rsssl-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}
/* Base styles for the rsssl-tooltip's content area */
.rsssl-tooltip:after,
[data-rsssl-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 220px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-rsssl-tooltip);
  font-size: 14px;
  line-height: 1.2;
}
/* Directions */
/* Top (default) */
.rsssl-tooltip-right {
  font-weight: normal;
}
[data-rsssl-tooltip]:before,
[data-rsssl-tooltip]:after,
.rsssl-tooltip:before,
.rsssl-tooltip:after,
.rsssl-tooltip-top:before,
.rsssl-tooltip-top:after {
  bottom: 100%;
  left: 50%;
}
[data-rsssl-tooltip]:before,
.rsssl-tooltip:before,
.rsssl-tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}
/* Horizontally align top/bottom rsssl-tooltips */
[data-rsssl-tooltip]:after,
.rsssl-tooltip:after,
.rsssl-tooltip-top:after {
  margin-left: -80px;
}
[data-rsssl-tooltip]:hover:before,
[data-rsssl-tooltip]:hover:after,
[data-rsssl-tooltip]:focus:before,
[data-rsssl-tooltip]:focus:after,
.rsssl-tooltip:hover:before,
.rsssl-tooltip:hover:after,
.rsssl-tooltip:focus:before,
.rsssl-tooltip:focus:after,
.rsssl-tooltip-top:hover:before,
.rsssl-tooltip-top:hover:after,
.rsssl-tooltip-top:focus:before,
.rsssl-tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform: translateY(-12px);
  transform: translateY(-12px);
}
/* Left */
.rsssl-tooltip-left:before,
.rsssl-tooltip-left:after {
  right: 100%;
  /*bottom: 50%;*/
  left: auto;
}
.rsssl-tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}
.rsssl-tooltip-left:hover:before,
.rsssl-tooltip-left:hover:after,
.rsssl-tooltip-left:focus:before,
.rsssl-tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform: translateX(-12px);
  transform: translateX(-12px);
}
/* Bottom */
.rsssl-tooltip-bottom:before,
.rsssl-tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}
.rsssl-tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}
.rsssl-tooltip-bottom:hover:before,
.rsssl-tooltip-bottom:hover:after,
.rsssl-tooltip-bottom:focus:before,
.rsssl-tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  transform: translateY(12px);
}
/* Right */
.rsssl-tooltip-right:before,
.rsssl-tooltip-right:after {
  bottom: 50%;
  left: 100%;
}
.rsssl-tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}
.rsssl-tooltip-right:hover:before,
.rsssl-tooltip-right:hover:after,
.rsssl-tooltip-right:focus:before,
.rsssl-tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
/* Move directional arrows down a bit for left/right rsssl-tooltips */
.rsssl-tooltip-left:before,
.rsssl-tooltip-right:before {
  top: 3px;
}
/* Vertically center rsssl-tooltip content for left/right rsssl-tooltips */
.rsssl-tooltip-left:after,
.rsssl-tooltip-right:after {
  margin-left: 0;
  margin-bottom: -25px;
}
/*
    Hide nags from other plugins
*/
.error:not(.really-simple-plugins),
.notice:not(.really-simple-plugins),
.update-nag:not(.really-simple-plugins),
.notice-info:not(.really-simple-plugins) {
  display: none !important;
}
/* comments on settings pages */
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr.rsssl-comment-text {
  color: #888;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
}
.rsssl-grid .rsssl-item .rsssl-item-container .form-table tbody tr.rsssl-comment-text td {
  padding-top: 0!important;
}
.rsssl-networksettings-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}
.rsssl-networksettings-overlay .rsssl-disabled-settings-overlay {
  position: absolute;
  width: calc(100% - 65px);
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  margin: 12px;
  box-shadow: 0 0 5px 5px rgba(223, 222, 222, 0.4);
}
.rsssl-networksettings-overlay .rsssl-disabled-settings-overlay .rsssl-open {
  float: left;
  margin-right: 12px;
}
/* Hide review on own settings page */
#rsssl_do_activate_ssl {
  margin-right: 10px;
}
.rlrsssl-review {
  display: none;
}
.rsssl-main {
  flex: 1;
  width: 80%;
  float: left;
}
.rsssl-icons {
  width: 15px;
  height: 15px;
}
.rsssl-update-count {
  margin-left: 4px !important;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1px 0 -1px 2px;
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #D7263D;
  color: #fff;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  z-index: 26;
}
/* Styling for the sidebar in the admin tab of the free plugin */
.rsssl-really-simple-plugins-logo {
  background-color: #ececec;
  margin-left: -15px;
  margin-right: -15px;
}
.rsssl-wrapper {
  padding: 30px;
}
.rsssl-container {
  display: flex;
}
.rsssl-dashboard-plusone {
  margin-left: 8px;
}
.rsssl-highlight {
  background-color: #fff;
  border-right: 4px solid #61ce70;
  -o-animation: fadeIt 3s ease-in-out;
  animation: fadeIt 3s ease-in-out;
}
@-o-keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
  }
  30% {
    background-color: #d6efd6;
  }
  100% {
    border-left: 0;
    background-color: inherit;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #FFFFFF;
    border-left: 0;
  }
  30% {
    background-color: #d6efd6;
  }
  100% {
    background-color: inherit;
  }
}
/* License page */
.rsssl-grid .rsssl-item.rsssl-license-grid .rsssl-item-container .form-table tbody tr {
  max-width: 100%;
  width: 100%;
}
.rsssl-grid .rsssl-item.rsssl-license-grid .rsssl-item-container .rsssl-grid-item-footer input + input {
  margin-left: 20px;
}
.rsssl_notice_license {
  font-size: 13px !important;
  border-radius: 0.25rem;
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #29b6f6;
  border: 1px solid #29b6f6;
  color: #fff;
}
.rsssl_notice_license h1 {
  font-size: 16px;
}
.rsssl_notice_license p {
  font-size: 13px !important;
}
.rsssl_notice_license.success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
.rsssl_notice_license.warning {
  color: #000;
  background-color: #FBC43D;
  border-color: #FBC43D;
}
.rsssl_notice_license ul {
  list-style-type: disc;
  margin-left: 22px;
}
/**
settings saved
 */
.rsssl-container .rsssl-settings-saved,
#rsssl-wizard .rsssl-settings-saved {
  display: none;
  opacity: 0;
  top: 20px;
  height: 45px;
  position: fixed;
  background-color: #fff;
  z-index: 999999;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  box-shadow: 0 0 5px 5px rgba(222, 222, 222, 0.2);
}
.rsssl-container .rsssl-settings-saved .rsssl-success,
#rsssl-wizard .rsssl-settings-saved .rsssl-success {
  color: #61ce70;
}
.rsssl-container .rsssl-settings-saved svg,
#rsssl-wizard .rsssl-settings-saved svg {
  stroke: #61ce70;
  fill: #61ce70;
}
.rsssl-container .rsssl-settings-saved .rsssl-settings-saved__text_and_icon,
#rsssl-wizard .rsssl-settings-saved .rsssl-settings-saved__text_and_icon {
  display: flex;
  align-content: center;
  padding: 0 20px;
}
.rsssl-container .rsssl-settings-saved .rsssl-settings-saved__text_and_icon .rsssl-icon,
#rsssl-wizard .rsssl-settings-saved .rsssl-settings-saved__text_and_icon .rsssl-icon {
  margin: 12px 0 0 0;
  height: 30px;
  width: 30px;
}
.rsssl-container .rsssl-settings-saved .rsssl-settings-saved__text_and_icon span,
#rsssl-wizard .rsssl-settings-saved .rsssl-settings-saved__text_and_icon span {
  display: flex;
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  color: #696969;
}
.rsssl-container .rsssl-settings-saved .rsssl-settings-saved__text_and_icon div,
#rsssl-wizard .rsssl-settings-saved .rsssl-settings-saved__text_and_icon div {
  display: flex;
  align-self: center;
}
.rsssl-container .rsssl-settings-saved.rsssl-settings-saved--fade-in,
#rsssl-wizard .rsssl-settings-saved.rsssl-settings-saved--fade-in {
  display: block;
  -webkit-animation: fadeInFromNone 5s ease-in-out;
  -moz-animation: fadeInFromNone 5s ease-in-out;
  -o-animation: fadeInFromNone 5s ease-in-out;
  animation: fadeInFromNone 5s ease-in-out;
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    top: 20px;
  }
  5% {
    display: block;
    opacity: 0;
    top: -10px;
  }
  15% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  90% {
    display: block;
    opacity: 1;
    top: 20px;
  }
  100% {
    display: none;
    opacity: 0;
    top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */