/*
  This was created for styling the plugin overview page for vulnerable plugins.
 */
@import "variables.scss";

.btn-vulnerable {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  font-weight: bold;
  border-width: 4px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 15px;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: var(--rsp-yellow-faded);
  color: var(--rsp-black);
  border-color: var(--rsp-yellow);
  &:hover {
    background-color: var(--rsp-yellow);
    color: var(--rsp-white);
  }

  &.critical {
    background-color: var(--rsp-red-faded);
    color: var(--rsp-white);
    border-color: var(--rsp-red);

    &:hover {
      background-color: var(--rsp-red);
      color: var(--rsp-white);
    }
  }

  &.high {
    background-color: var(--rsp-red-faded);
    color: var(--rsp-black);
    border-color: var(--rsp-red);

    &:hover {
      background-color: var(--rsp-red);
      color: var(--rsp-white);
    }
  }

  &.medium-risk {
    border-color: var(--rsp-yellow);
    color: var(--rsp-black);
    background-color: var(--rsp-yellow);

    &:hover {
      background-color: var(--rsp-dark-yellow);
      border-color: var(--rsp-dark-yellow);
      color: var(--rsp-white);
    }
  }
}

