.rsssl-fade-enter {
  opacity: 0;
}

.rsssl-fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.rsssl-fade-exit {
  opacity: 1;
}

.rsssl-fade-exit-active {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}