.rsssl-fade-enter {
  opacity: 0;
}
.rsssl-fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.rsssl-fade-exit {
  opacity: 1;
}
.rsssl-fade-exit-active {
  opacity: 0;
  transition: opacity 900ms;
}
