.rsssl {
  .rsssl-badge {
    --badge-height: 20px;
    height: var(--badge-height);
    line-height: var(--badge-height);
    padding-inline: 8px;

    min-width: 100px;
    text-align: center;
    border-radius: var(--rsp-border-radius-xs);
    color: var(--rsp-white);
    display: table;
    margin: auto auto;
    font-size: var(--rsp-fs-100);

    &.rsssl-dark {
      background-color: var(--rsp-black);
      color: var(--rsp-white);
    }

    &.rsssl-low {
      background-color: var(--rsp-yellow-faded);
      color: var(--rsp-black);
    }

    &.rsssl-medium {
      background-color: var(--rsp-yellow);
      color: var(--rsp-black);
    }

    &.rsssl-high {
      background-color: var(--rsp-red-faded);
      color: var(--rsp-black);
    }

    &.rsssl-critical {
      background-color: var(--rsp-red);
      color: var(--rsp-white);
    }

    &.rsssl-success {
      background-color: var(--rsp-color-success);
      color: var(--rsp-white);
    }

    &.rsssl-default {
      background-color: var(--rsp-grey-200);
      color:black;
    }
  }

  .rsssl-badge-large {
    --badge-height: 28px;
    height: var(--badge-height);
    line-height: var(--badge-height);
    padding: 0 10px;
    min-width: 80px;
    text-align: center;
    border-radius: var(--rsp-border-radius-xs);
    color: var(--rsp-white);
    display: table;
    margin: auto auto;
    font-size: var(--rsp-fs-300);
    font-weight: 400;

    &.rsssl-dark {
      background-color: var(--rsp-black);
      color: var(--rsp-white);
    }

    &.rsssl-risk-level-low {
      background-color: var(--rsp-yellow-faded);
      color: var(--rsp-black);
    }

    &.rsssl-risk-level-medium {
      background-color: var(--rsp-yellow);
      color: var(--rsp-black);
    }

    &.rsssl-risk-level-high {
      background-color: var(--rsp-red-faded);
      color: var(--rsp-black);
    }

    &.rsssl-risk-level-critical {
      background-color: var(--rsp-red);
      color: var(--rsp-white);
    }

    &.rsssl-success {
      background-color: var(--rsp-color-success);
      color: var(--rsp-white);
    }

    &.rsssl-default {
      background-color: var(--rsp-grey-200);
      color:black;
    }
  }
}
