.rsssl {
  .rsssl-badge {
    padding: 4px 7px;
    border-radius: var(--rsp-border-radius-xs);
    color: var(--rsp-white);
    display: table;
    margin: 0 auto;
    font-size: var(--rsp-fs-100);

    &.rsp-dark {
      background-color: var(--rsp-black);
    }

    &.rsp-low {
      background-color: var(--rsp-yellow);
    }

    &.rsp-medium {
      background-color: var(--rsp-orange);
    }

    &.rsp-high {
      background-color: var(--rsp-dark-orange);
    }

    &.rsp-critical {
      background-color: var(--rsp-red);
      color: var(--rsp-white);
    }

    &.rsp-success {
      background-color: var(--rsp-color-success);
      color: var(--rsp-white);
    }

    &.rsp-default {
      background-color: var(--rsp-grey-200);
      color:black;
    }
  }
}