.rsssl-field-wrap {
  .rdt_TableCol, .rdt_TableCell {
    min-width:100px;
  }
  .rdt_TableCol:first-child, .rdt_TableCell:first-child {
    min-width:initial;
  }
  .rdt_TableHeadRow {
    .rdt_TableCol:last-child {
      flex-grow: 0;
      flex-direction: row-reverse;
      //margin-right: 20px;
    }
  }
  .rdt_TableRow {
    &:nth-child(odd){
      background-color:var(--rsp-grey-200)
    }
    padding:var(--rsp-spacing-xs) 0;
    .rdt_TableCell:last-child {
      flex-grow:0;
    }
    .rsssl-status-allowed, .rsssl-status-revoked{
      min-width:110px;
      margin-right:20px;
    }
  }

  .rsssl-csp-revoked >div:nth-child(-n+3) {
    opacity:0.3;
  }
}


.rsssl-content_security_policy .rsssl-field-wrap {
  .rdt_TableHeadRow {
    .rdt_TableCol:last-child {
      flex-grow:0;
      min-width:initial;
      justify-content: flex-end;
    }
    .rdt_TableCol:nth-last-child(2) {
      //flex-direction: row-reverse;
    }
  }


  .rdt_TableRow {
    .rsssl-status-allowed, .rsssl-status-revoked, .rsssl-learning-mode-delete {
      //margin-right:0;
    }
    .rdt_TableCell:last-child {
      flex-grow:0;
      min-width:initial;
    }
    .rdt_TableCell:nth-last-child(2) {
      //flex-direction: row-reverse;
      //margin-right:10px;
    }
  }

  .rsssl-csp-revoked >div:nth-child(-n+3) {
    opacity:0.3;
  }
}

//wp-core also adds an svg for the select dropdown, so we hide the one from the react datatables component
nav.rdt_Pagination>div>svg {
  display:none !important;
}

.rsssl-content_security_policy, .rsssl-xml_rpc {
  .rsssl-field-wrap >div >div {
    overflow-x:inherit;
    overflow-y:inherit;
  }
}

.rsssl-permissions_policy {
  .rdt_TableRow {
    .rdt_TableCell:last-child {
      min-width: fit-content;
      .components-input-control__container {
        min-width: fit-content;
      }
    }
  }
}

.rsssl-mixed-content-datatable{
  & > div > div {
    display: flex;
  }
}

.rsssl-vulnerabilities_measures {
  .rdt_TableRow .rdt_TableCell:nth-child(3) {
    max-width:50%;
  }
}

.rsssl-vulnerabilities_overview, .rsssl-vulnerabilities_measures, .rsssl-limit_login_attempts_country, .rsssl-limit_login_attempts_users, .rsssl-limit_login_attempts_event_log, .rsssl-mixedcontentscan, .rsssl-limit_login_attempts_ip_address, .rsssl-permissions_policy, .rsssl-content_security_policy, .rsssl-two_fa_users {
  .rsssl-field-wrap {
    margin-left:CALC( -1 * var(--rsp-spacing-l) );
    margin-right:CALC( -1 * var(--rsp-spacing-l) );
    @media(max-width: $rsp-break-m) { // 1280px
      margin-left:CALC( -1 * var(--rsp-spacing-m) );
      margin-right:CALC( -1 * var(--rsp-spacing-m) );
    }
    @media(max-width: $rsp-break-s) { // 1280px
      margin-left:CALC( -1 * var(--rsp-spacing-s) );
      margin-right:CALC( -1 * var(--rsp-spacing-s) );
    }
    //should be s on <1280px
    > .components-base-control, .rsssl-comment,
      //.rsssl-grid-item-content-footer,
    .rsssl-progress-container,
    >div>button,
    .rsssl-learning-mode-footer,
    .rsssl-mixed-content-description,
    .rsssl-current-scan-action
    {
      margin-left:var(--rsp-spacing-l);
      margin-right:var(--rsp-spacing-l);
    }
  }
  .rdt_TableCell, .rdt_TableCol{
    &:first-child {
      padding-left: var(--rsp-spacing-l);
      padding-right: var(--rsp-spacing-l);
    }
    &:last-child {
      padding-right: var(--rsp-spacing-l);
    }
  }
}

.rsssl-search-bar {
  float: right;
  padding: 0;
}

.rsssl-search-bar__inner {
  display: flex;
  align-items: center;
  background-color: gray;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.rsssl-search-bar__inner:focus-within {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rsssl-search-bar__icon {
  /* Add styles for the search icon */
}

.rsssl-search-bar__input {
  border: none;
  outline: none;
  background: gray;
  padding: 3px 5px;
  width: 150px; /* Adjust width as needed */
  transition: width 0.3s ease;
}

.rsssl-search-bar__input:focus {
  width: 200px; /* Adjust width as needed */
}

.rsssl-container {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rsssl-multiselect-datatable-form {
  display: flex;
  Justify-content: space-between;
  width: 100%;
  padding: 1em 2em;
  background: var(--rsp-blue-faded);
}