.dKzMcW, .fcbkgN {
  padding-right: 0 !important;
}

.rsssl-exclude-button {
  margin-left: 40px !important;
}

@media (max-width: 1440px) {
  .rsssl-exclude-button {
    margin-left: 5px !important;
  }
}
