.rsssl {
  .rsssl-locked-overlay {
    display: flex;
    top: calc(100% - 100px) !important;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;
    &.premium {
      top: calc(100% - 170px) !important;
      flex-direction: column;
    }
    .rsssl-locked-header {
      width: 100%;
      flex-direction: row;
      .rsssl-locked-header-title {
        font-weight: 600;

      }
      .rsssl-locked-header-subtitle {

      }
    }
    .rsssl-locked-content {
        flex-direction: row;
      width: 100%;
        .rsssl-locked-content-text {

        }
    }
    .rsssl-locked-footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      // we want the a to be displayed on the left side
      a {
        position: relative;
        float: left !important;
      }
    }
    .rsssl-locked-footer::after {
      content: "";
      display: table;
      clear: both;
    }

  }
}