.rsssl-grid-item.rsssl-ssllabs .rsssl-grid-item-content {
  padding: 0;
}
.rsssl-ssllabs {
  .rsssl-placeholder{
    @include rsssl-block-padding;
  }

  .rsssl-ssl-test {
    .rsssl-ssl-test-information {
      div {
        padding:var(--rsp-spacing-xxs);
        &.rsssl-test-processing {
          background-color:var(--rsp-color-warning);
          color:#fff;
        }
        &.rsssl-test-success {
          background-color:var(--rsp-color-success);
          color:#fff;
        }
        &.rsssl-test-error {
          background-color:var(--rsp-color-warning);
          color:#fff;
        }
      }

    }

  }

  .rsssl-details {
    margin:var( --rsp-spacing-m );
    .rsssl-detail-icon {
      width:30px;
    }
    display:flex;
  }
  .rsssl-details +.rsssl-details{
    margin-top:0;
  }


}




.rsssl-gridblock-progress-container{
    &.rsssl-error {
      .rsssl-gridblock-progress {
        background: var(--rsp-color-warning);
      }
    }
    &.rsssl-incomplete, &.rsssl-complete {
    height: 4px;
    width: 100%;
    display: flex;
    background: var(--rsp-grey-300);

    .rsssl-gridblock-progress {
      transition: width 1s ease-in-out;
      background: var(--rsp-green);
    }
  }
}
.rsssl-ssl-test {
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-between;
  background: var(--rsp-dark-blue-faded);
  @include rsssl-block-padding;

  .rsssl-ssl-test-information{
    p{
      font-size: var(--rsp-fs-100);
      letter-spacing: 0.01ch;
      line-height: 2;
    }
  }
}


