.rsssl div[class^=rsssl-wizard-] {
  .rsssl-field-wrap {
    .MuiTooltip-popper {
      background-color:#000;
    }
    label {
      display: flex;

      .cmplz-label-text {
        margin-right: 10px;
      }
    }

    .rsssl-icon {
      cursor: pointer;

    }
  }
}