.rsssl-tooltip {
  margin-left: var(--rsp-spacing-xs);
  display:flex;
  cursor:pointer;
  .components-popover.components-tooltip {
    max-width:300px;
  }
  .rsssl-icon {
    justify-content: flex-start;
  }

}