.rsssl div[class^=rsssl-wizard-] {
  .rsssl-tooltip-icon .react-tooltip {
    max-width:300px;
    white-space: pre-wrap;
  }
  .rsssl-field-wrap {

    label {
      display: flex;

      .cmplz-label-text {
        margin-right: 10px;
      }
    }

    .rsssl-icon {
      cursor: pointer;
    }
  }
}