#rsssl-container {
  .rsssl-wizard-menu {
    min-width: 200px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    .rsssl-menu-item {
      .rsssl-submenu-item {
        margin-left:20px;
      }
    }
  }
}